@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
img {
    width:250px;
    display: block;
    margin: 0 auto;
}
html{
    font-size:10px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 153, 30);
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 241, 199);
    padding: 0 20px 20px 20px;
    border: 8px solid rgb(32, 144, 250);
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(32, 144, 250);
    text-shadow: 3px 3px 2px black;
}
p, li {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 2px;
}
a {
    color:rgb(32, 144, 250);
}